@font-face {
   font-family: 'TrajanPro-Regular';
   src: url('TrajanPro-Regular/font.ttf');
}
@font-face {
   font-family: 'GothamRoundedMedium_21022';
   src: url('GothamRoundedMedium_21022/font.ttf');
}
